@charset "utf-8";
.pagination a {
    text-decoration: none;
    border: 1px solid #AAE;
    color: #15B;
}

.pagination a, .pagination span {
    display: inline-block;
    width: 21px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    color: #666666;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

.pagination .current {
    background: #17a2d5;
    color: #fff;
    border: 1px solid #17a2d5;
}
.pagination .next,.pagination .prev{
    width: 55px;
}
.pagination .current.prev, .pagination .current.next{
    color:#999;
    border-color:#999;
    background:#fff;
}
